.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 10%;
    min-height: 100vh;
    font-family: "lato";
    color:#8d8c8b;
}
#userpage   {
    background-color: black;
    min-height: 100vh;
}
.username {
  margin-bottom: 2%;
  margin-top: 3%;
}
#avatar {
  margin-top: 10%;
}
.carousel-cell {
    width: 100%; /* full width */
    height: 25vh;

    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-cell img {
    display: block;
    max-height: 100%;
  }

  /*https://flickity.metafizzy.co/options.html#fullscreen*/
#userTitleElm {
  max-height: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 5%;
  justify-content: center;
}
#answermetric {
  margin-left: 10%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  text-align: left;
  gap: 5%;
  justify-content: center;
}
.containerCarousel  {
  margin-bottom: 10%;
}
.logger {
  font-size: 22px;
  background: #000000;
  padding: 10px;
  text-align: center;
}
.carousel-cell.is-clicked {
  background: #ED2;
}